{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title >Flickr Image Search </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
         <link rel="stylesheet" href="{% static 'style.css' %}">         
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>      
        <style type="text/css">.fancybox-margin{margin-right:17px;}</style>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
        
       
 
 <body>

 

{%block search%}

<div id= top>
    <div id="menu">
      <div class="login-reg">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" style="float:right; text-decoration: none; color:white; padding:7px 0; margin:10px;">Log out</a>
        {%else%}
        <a id="signup-modal" href="" class="btn btn-default signup"style="float:right;  margin:16px;">Sign up</a>
        <a id="login-modal" href=""   style="float:right; text-decoration: none; color:white; padding:7px 0; margin:10px;">Log in</a>
       
        {%endif%}
        <div class="modal fade text-center " id="login-modal-show">
          <div class="modal-dialog">
            <div class="modal-content">         
            
            <iframe id="login-iframe"  class="embed-responsive-item" src="{% url 'login' %}" scrolling="no" allowTransparency="true" ></iframe> 
           
               
            </div>
          </div>
        </div>  
        <div class="modal fade text-center"  id="signup-modal-show">
          <div class="modal-dialog">
            <div class="modal-content">
              
              <iframe id="signup-iframe" class="embed-responsive-item" src="{% url 'signup' %}" scrolling="no" ></iframe>
           
            </div>
          </div>
        </div>  
        
    

        <script>
        $('#login-modal').on('click', function(e){
        e.preventDefault();
        $('#login-modal-show').modal('show');
        
        });
        $('#signup-modal').on('click', function(e){
        e.preventDefault();
        $('#signup-modal-show').modal('show');        
        });       
  
        </script>
      </div> 
      
      

     


      
      

        <nav class="navbar navbar-expand-lg navbar-dark">
          
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse"id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
              
                <li class="nav-item">
                  <a class="nav-link" href="#">Technology</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Health</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nature</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Food</a>
                </li>       
           
              </ul>
            </div>
          </nav>

       
       
    </div>
    <div class="imagesearch mt-5>      
    <div class="container text-center">       
    <div class="row justify-content-center">
    <div class="col-xl-7 col-lg-8">
    <center><h3 class="mb-0">Flickr Image Search </h3></center>
    <center><p class="text-white-50">for every word you have on your thoughts we might have a picture for that, search it!</p></center>
          
     
    <div id="imagesearch">
     
    
    <form role="form" action="{% url 'search_results' %}" method="GET">      
 
    <div id ="input" class="input-group">
    <input type="text" name="search" class="form-control border-0" id="searchkey" placeholder="Search images...">
    <div class="input-group-append">
    <button type="submit" class="btn btn-light">
        <i  class="fa fa-search" style="color:rgb(150, 148, 148);"></i>
    </button>
   
</div>
</div>
</form>
</div>
<div id="tags">
    tags:
    <a class="tags" href="gallery.php?tag=navbar">love</a>,
    <a class="tags" href="gallery.php?tag=navbar">happy</a>,
    <a class="tags" href="gallery.php?tag=navbar">friends</a>,
    <a class="tags" href="gallery.php?tag=navbar">lifestyle</a>,
    <a class="tags" href="gallery.php?tag=navbar">fitness</a>,
    <a class="tags" href="gallery.php?tag=navbar">travel</a>,
    <a class="tags" href="gallery.php?tag=navbar">music</a>,
    <a class="tags" href="gallery.php?tag=navbar">funny</a>,
    <a class="tags" href="gallery.php?tag=navbar">work</a>,
    <a class="tags" href="gallery.php?tag=navbar">home</a>,
    <a class="tags" href="gallery.php?tag=navbar">bussiness</a>,
    <a class="tags" href="gallery.php?tag=navbar">sport</a>,
    <a class="tags" href="gallery.php?tag=navbar">pet</a>
  
</div>
</div>
</div>
</div>
</div>
</br>
{%endblock%}


       <div class="container-fluid">
        {%block content %}
         <div class="row">           
                {% for img in imgurl %}
                  
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a href="{{img}}" class="fancybox" rel="ligthbox">
                        <img src="{{img}}" class="zoom img-fluid" alt="">                       
                        </a>
                    </div>

                {% endfor %} 
            {%endblock%}                                      
        </div>
      
      <script type="text/javascript" src="{% static 'javascript.js' %}"></script>
     
      

    </body>/html>